*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #FF005A;
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dr{
display: flex;
align-items: center;
gap: 50px;

    
}
.dr ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.dr button{
    
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    font-size: 18px;
}
.logo{
    font-weight: bold;
    font-size: 22px;
}
.hero{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("img/image.png");
    height: 90vh;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero-info{
    width: 25%;
    color: white;
    
}
.hero-form{
    width: 25%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: grid;
    gap: 15px;
    font-size: 18px;
}
.hero-info h1{
    font-size: 64px;
}
.hero-info p{
    font-size: 24px;
}
.h1{
    font-size: 18px;
    font-weight: bold;

}
.hero-form button{
    padding: 10px;
    background-color: #FF005A;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.hero-form input {
    font-size: 18px;
    padding: 10px;
}
.h2{
    text-align: center;
    color: rgb(161, 165, 169);
}
.info{
    height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
}
.info-foto{
    background: url(img/info.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}
.info-text{
    width: 50%;
    
}
.obgortka{
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: flex-start;
}
.obgortka h1{
    font-size: 48px
}
.obgortka span{
    color: red;
}
.obgortka button{
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #3088FF
}
.perevaga{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/фон2.jpg");
    background-size: cover;
    background-position: center;
}
.first{
    
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:100px ;
}
.first h1{
    font-size: 64px;
}
.first p{
    font-size: 24px;
    color: rgb(198, 199, 201);
}
.bloku{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    color: white;
}
.bloku div{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloku div div{
    height: 70px;
    width: 70px;
    background-color: white;
    color: #3088FF;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.text{
    height: 50vh;
    margin: 100px;
    display: flex;
    align-items: center;
}
.text div{
    width: 70%;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 50px;
}
.text div i{
    color: red;
    font-size: 64px;
    
}
.text div h2{
    font-size: 48px;
}
.text div p{
    font-size: 24px;
    color: rgb(104, 108, 112);
}
.foto{
    height: 130vh;
    background-color: #3088FF;
    color: white;
    text-align: center;
    padding: 0 100px;
}
.foto-text h2{
    
    
    font-size: 64px;
}
.foto-text p {
    font-size: 24px;
}
.foto-text{
    display: flex;
    flex-direction: column;
    padding: 100px 0 50px 0 ;
    width: 50%;
    gap: 30px;
    margin: 0 auto;
}
.foto-foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.foto-foto div{
    width: 320px;
    height: 320px;

    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
      
}
.f1{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/1.jpg");
    background-size: cover;
    background-position: center;
}
.f2{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/2.jpg");
        background-size: cover;
    background-position: center;
}
.f3{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/3.jpg");
        background-size: cover;
    background-position: center;
}
.f4{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/4.jpg");
        background-size: cover;
    background-position: center;
}
.f5{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/5.jpg");
        background-size: cover;
    background-position: center;
}
.wi{
    width: 33%;
    margin: 0 auto;
    padding: 80px 0;
}
.order{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("img/bg.jpg");
        background-size: cover;
    background-position: center;
}
.wi-text{
    text-align: center;
    color: white;
    padding: 50px 0;
}
.wi-text h2{
    font-size: 48px;
}
.wi-text p{
    font-size: 24px;
}
.inputu{
    display: grid;
    gap: 10px;
}
.inputu input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
}